/* font-family: 'IM Fell Double Pica', serif; */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap');
@font-face {
  font-family: "Madelyn";
  src: url("./fonts/Madelyn.otf");
}
/* font-family: 'Nixie One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');


*{
  padding: 0;
  margin: 0;
}

.max-width{
  max-width: 1300px;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.bkg {
  margin-top: 70px;
  height: calc(100vh - 70px);
  background-image: url('./images/bkg-main.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
}